/*  your css code here. If applicable */
.one{
	color: #00f;
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	Font-size: 20px;
}
.two{
	color: #00f;
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	Font-size: 20px;
}